MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/db-name?appName=Cluster0
MONGODB_DB_NAME=parlour-app
AUTH_SECRET=your-secret-key-min-32-characters

# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_your_secret_key
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
